.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    min-height: 110px;
    color: white;

    flex-wrap:wrap;
    background-color: rgba(50,50,50,0.3);
    box-shadow: 0 1px 1px rgb(60 60 60 / 11%), 0 2px 2px rgb(60 60 60 / 11%), 0 4px 4px rgb(60 60 60 / 11%), 0 6px 8px rgb(60 60 60 / 11%), 0 8px 16px rgb(60 60 60 / 11%);
    border-bottom: solid 2px white;
    
    backdrop-filter: blur(1.5px);
}

.fix {
    position: fixed;
    top: 0;
}

.logo {
    width: 7rem;
}

.avatar {
    width: 3rem;
    margin: 0.2rem;
}

.container p {
    display: flex;
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.4s ease;
}

.container p:hover {
    color: #f7ca18;
}

.bordered {
    border: solid 2px #f7ca18;
    border-radius: 10px;
}

.dark {
    background-color: rgb(30, 30, 30);
}

.invis {
    background: none;
    border-bottom: none;
    box-shadow: none;
}

@media (max-width: 1000px) {
    .logo {
        width: 60px;
    }

    .container p {
        margin: 0;
    }

    .container {
        min-height: 0;
    }
}